@import "../../scss/lib.scss";

.c-main {
    padding-top: 80px;

    &__wrapper {
        @include wrapper;
    }

    & > div {
        position: relative;
        z-index: 0;
        padding-bottom: 80px;
    }

    &__anchor-offset {
        position: absolute;
        top: -66px;
    }

    &__border {
        border-radius: 1px;
        width: 100%;
        height: 2px;
        background-color: $purple-dark;

        &--top {
            margin-bottom: 80px;
        }
    }
}
