@import '../settings/colours.scss';

@mixin wrapper {
    overflow-x: hidden;
    width: 100%;

    &--light {
        background-color: $background-light;
        color: $background-light-text;
    }

    &--gray {
        color: $background-gray-text;
        
        &-light {
            background-color: $background-gray-light;
        }
        
        &-dark {
            background-color: $background-gray-dark;
        }
    }

    &--dark {
        background-color: $background-dark;
        color: $background-dark-text;
    }
}